<div class="content-user">

  <%# <p id="notice"><%= notice </p>%>

  <h1 class="title" >Pedido de Indenização <%= link_to 'Criar Pedido', new_request_path %></h1>

   <% if @request %>
     <%= @request.title %>
     <%= @request.description %>
     <%= @request.user.email %>
     
     <%= link_to 'Edit', edit_request_path(@request) %>
     <%= link_to 'Destroy', @request, method: :delete, data: { confirm: 'Are you sure?' } %>
   <% else %>
      <h3>Faça seu pedido de idenização</h3>
   <% end %>


  

</div>