<!DOCTYPE html>
<html>
  <head>
    <title>Match</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= link_to 'Cliente', users_backoffice_welcome_index_path %>
      <%= link_to 'Advogado', lawyers_backoffice_welcome_index_path %>
    <%= yield %>
  </body>
</html>
