<!DOCTYPE html>
<html>
  <head>
    <title>Match</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   

 <header id="main-header">
    <div class="content">
        <img src="https://uploads-ssl.webflow.com/5b7c0ffd36ef667b08a4a684/5bc76f0d3d3815109b416333_cor.svg" />
      <nav>
        <ul>
          <li> <%= link_to 'Pegar casos', lawyers_request_index_path %> </li>
          <li> <%= link_to 'Meu casos', lawyers_request_my_list_path %> </li>
          <%# <li> <%= link_to 'Perfil', edit_lawyer_registration_path  </li> %>
          <li class="btn btn-pink"> <%= link_to 'Sair', destroy_lawyer_session_path, method: :delete %></li>
        </ul>
      </nav>
    </div>
  </header>

    <%= yield %>
  </body>
</html>
