<!DOCTYPE html>
<html>
  <head>
    <title>Match</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>users</h1>
    
    <% if user_signed_in? %>
      <%= link_to 'Efetuar logoff…[user]', destroy_user_session_path, method: :delete %>
      <p> Cliente logado: <%= current_user.email %> </p>
    <% end %>
    
    <%= link_to 'home', requests_path %>
    <%= link_to 'Perfil', edit_user_registration_path %>
    
    <%= yield %>

  </body>
</html>
